body
{
    background-color: teal;
}

.graph
{
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.containerBar
{
    display: none;
}

#bodyContainer
{
    text-align: center;
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
}

#countdown
{
    color: white;
}

#Info
{
    margin-top: 10%;
    height: 60%;
    width: 70%;
    font-size: 2.5vw;
}

#Info h5
{
    font-size: 4vw;
}

#Info h6
{
    font-size: 3vw;
}

#Info .card
{
    height: auto;
    width: auto;
    background-color: gainsboro;
}

.progress
{
    display: none;
}

.dataBtn
{
    font-size: 2vw;
    margin-top: 1px;
    margin-bottom: 1px;
    white-space: normal;
}

#Dashboard
{
    margin-top: 10%;
    height: 60%;
    width: 50%;
    color: white;
    font-size: 2vh;
}

#currentWeather
{
    font-size: 5vh;
}