body
{
    background-color: teal;
}
.graph
{
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.container
{
    margin-top: 2%;
    margin-bottom: 2%;
}

#bodyContainer
{
    text-align: center;
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
}

#countdown
{
    color: white;
}